#banner{ background:url(../images/products_casual/banner1200.jpg) no-repeat center;}
.entry-title{top:100px;}
.entry-title p{ width:80%;}

.item_1{width:480px; height:694px;}
.item_2{width:240px; height:347px;}
.item_3{width:240px; height:347px;}
.item_4{width:480px; height:694px;}
.item_5{width:480px; height:347px;}
.item_6{width:480px; height:694px;}
.item_7{width:240px; height:347px;}
.item_8{width:240px; height:347px;}
.item_9{width:480px; height:694px;}
.item_10{width:720px; height:694px;}
.item_11{width:480px; height:347px;}
.item_12{width:240px; height:347px;}
.item_13{width:480px; height:694px;}
.item_14{width:240px; height:347px;}
.item_15{width:240px; height:347px;}
.item_16{width:240px; height:347px;}
.item_17{width:480px; height:347px;}
.item_5b,.item_12b{width:0; height:0;}

.item_21,.item_21 img{width:240px; height:347px;}
.item_22,.item_22 img{width:480px; height:694px;}
.item_23,.item_23 img{width:240px; height:347px;}
.item_24,.item_24 img{width:240px; height:347px;}
.item_25,.item_25 img{width:480px; height:347px;}
.item_26,.item_26 img{width:240px; height:347px;}

@media screen and (max-width: 1200px) {
.item_25,.item_25 img{width:0; height:0;}
.item_2,.item_2 img{width:0; height:0;}
.item_1,.item_1 img{width:480px; height:694px;}
.item_3,.item_3 img{width:240px; height:347px;}
.item_4,.item_4 img{width:240px; height:347px;}
.item_6,.item_6 img{width:240px; height:347px;}
.item_7,.item_7 img{width:480px; height:694px;}
.item_9,.item_9 img{width:240px; height:347px;}
.item_13,.item_13 img{width:240px; height:347px;}
.item_17,.item_17 img{width:0; height:0;}


}

@media screen and (max-width: 960px) {

.item_1,.item_1 img{width:480px; height:694px;}
.item_2,.item_2 img{width:240px; height:347px;}
.item_3,.item_3 img{width:240px; height:347px;}
.item_4,.item_4 img{width:480px; height:694px;}
.item_5,.item_5 img{width:480px; height:347px;}
.item_6,.item_6 img{width:240px; height:347px;}
.item_7,.item_7 img{width:240px; height:347px;}
.item_8,.item_8 img{width:480px; height:694px;}
.item_9,.item_9 img{width:240px; height:347px;}
.item_10{width:240px; height:347px;}.item_10 img{width:360px; height:347px; margin-left:-80px;}
.item_11,.item_11 img{width:480px; height:347px;}
.item_12,.item_12 img{width:240px; height:347px;}
.item_13,.item_13 img{width:480px; height:694px;}
.item_14,.item_14 img{width:240px; height:347px;}
.item_15,.item_15 img{width:240px; height:347px;}
.item_16,.item_16 img{width:240px; height:347px;}
.item_17,.item_17 img{width:480px; height:347px;}
.item_5b,.item_12b,.item_5b img,.item_12b img{width:0; height:0;}

.item_21,.item_21 img{width:240px; height:347px;}
.item_22,.item_22 img{width:480px; height:694px;}
.item_23,.item_23 img{width:240px; height:347px;}
.item_24,.item_24 img{width:240px; height:347px;}
.item_25,.item_25 img{width:480px; height:347px;}
.item_26,.item_26 img{width:240px; height:347px;}

}

@media screen and (max-width: 720px) {
#banner{ background:url(../images/products_casual/banner360.jpg) no-repeat center; height:266px;}

.item_1,.item_1 img{width:360px; height:520.5px;}
.item_2,.item_2 img{width:360px; height:520.5px;}
.item_3,.item_3 img{width:180px; height:260.25px;}
.item_4,.item_4 img{width:180px; height:260.25px;}
.item_5,.item_5 img{width:360px; height:260.25px;}
.item_6,.item_6 img{width:180px; height:260.25px;}
.item_7,.item_7 img{width:180px; height:260.25px;}
.item_8,.item_8 img{width:180px; height:260.25px;}
.item_9,.item_9 img{width:360px; height:520.5px;}
.item_10{width:180px; height:260.25px;}.item_10 img{width:270px; height:260.25px; margin-left:-40px;}
.item_11,.item_11 img{width:360px; height:260.25px;}
.item_12,.item_12 img{width:360px; height:520.5px;}
.item_13,.item_13 img{width:180px; height:260.25px;}
.item_14,.item_14 img{width:180px; height:260.25px;}
.item_15,.item_15 img{width:180px; height:260.25px;}
.item_16,.item_16 img{width:360px; height:520.5px;}
.item_17{width:180px; height:260.25px;}.item_17 img{width:360px; height:260.25px; margin-left:-120px;}
.item_5b,.item_12b,.item_5b img,.item_12b img{width:0; height:0;}

.item_21,.item_21 img{width:180px; height:260.25px;}
.item_22,.item_22 img{width:180px; height:260.25px;}
.item_23,.item_23 img{width:360px; height:520.5px;}
.item_24,.item_24 img{width:180px; height:260.25px;}
.item_25,.item_25 img{width:0; height:0;}
.item_26,.item_26 img{width:180px; height:260.25px;}

.item_5 .entry-title{ top:40px;}
.item_11 .entry-title{ top:40px;}
}

@media screen and (max-width: 320px) {
#banner{ background:url(../images/products_casual/banner320.jpg) no-repeat center; height:236px;}

.item_1,.item_1 img{width:320px; height:462.6666px;}
.item_2,.item_2 img{width:320px; height:462.6666px;}
.item_3,.item_3 img{width:160px; height:231.3331px;}
.item_4,.item_4 img{width:160px; height:231.3331px;}
.item_5,.item_5 img{width:320px; height:231.3331px;}
.item_6,.item_6 img{width:160px; height:231.3331px;}
.item_7,.item_7 img{width:160px; height:231.3331px;}
.item_8,.item_8 img{width:160px; height:231.3331px;}
.item_9,.item_9 img{width:320px; height:462.6666px;}
.item_10{width:160px; height:231.3331px;}.item_10 img{width:239.99px; height:231.3331px; margin-left:-40px;}
.item_11,.item_11 img{width:320px; height:231.3331px;}
.item_12,.item_12 img{width:320px; height:462.6666px;}
.item_13,.item_13 img{width:160px; height:231.3331px;}
.item_14,.item_14 img{width:160px; height:231.3331px;}
.item_15,.item_15 img{width:160px; height:231.3331px;}
.item_16,.item_16 img{width:320px; height:462.6666px;}
.item_17{width:160px; height:231.3331px;}.item_17 img{width:320px; height:231.3331px; margin-left:-100px;}
.item_5b,.item_12b,.item_5b img,.item_12b img{width:0; height:0;}

.item_21,.item_21 img{width:160px; height:231.3331px;}
.item_22,.item_22 img{width:160px; height:231.3331px;}
.item_23,.item_23 img{width:320px; height:462.6666px;}
.item_24,.item_24 img{width:160px; height:231.3331px;}
.item_25,.item_25 img{width:0; height:0;}
.item_26,.item_26 img{width:160px; height:231.3331px;}


.item_5 .entry-title{ top:30px;}
.item_11 .entry-title{ top:20px;}
}
