
#banner{ background:url(../images/product_tuxedo/banner1200.jpg) no-repeat center;  height:425px;}
.item_1{width:720px; height:1041px;}
.item_2{width:480px; height:694px;}
.item_3{width:480px; height:347px;}
.item_4{width:480px; height:694px;}
.item_5{width:720px; height:694px;}

.item_3 .entry-title{top:100px;}
.item_3 .entry-title p{ width:60%; text-align:left;}


@media screen and (max-width: 1200px) {
.item_1,.item_1 img{width:480px; height:694px;}
.item_2,.item_2 img{width:480px; height:694px;}
.item_3{width:960px; height:347px;}
.item_4,.item_4 img{width:480px; height:694px;}
.item_5{width:480px; height:694px;}.item_5 img{margin-left:-130px;}
}

@media screen and (max-width: 960px) {
.item_1,.item_1 img{width:720px; height:1041px;}
.item_2,.item_2 img{width:360px; height:520.5px;}
.item_3{width:360px; height:520.5px;}.item_3 img{height:520.5px;}
.item_4,.item_4 img{width:360px; height:520.5px;}
.item_5{width:360px; height:520.5px;}.item_5 img{width:540px; height:520.5px;margin-left:-80px;}

}

@media screen and (max-width: 720px) {
#banner{ background:url(../images/product_tuxedo/banner360.jpg) no-repeat center; height:300px;}

.item_1,.item_1 img{width:360px; height:520.5px;}
.item_2,.item_2 img{width:180px; height:260.25px}
.item_3{width:180px; height:260.25px;}.item_3 img{height:260.25px}
.item_4,.item_4 img{width:180px; height:260.25px;}
.item_5{width:180px; height:260.25px;}.item_5 img{width:270px; height:260.25px;margin-left:-40px;}

.item_3 .entry-title{top:40px;}
.item_3 .entry-title p{ width:80%; text-align:left;}
}

@media screen and (max-width: 320px) {
#banner{ background:url(../images/product_tuxedo/banner320.jpg) no-repeat center; height:270px;}

.item_1,.item_1 img{width:320px; height:462.6666204px;}
.item_2,.item_2 img{width:159.999984px; height:231.3333102px}
.item_3{width:159.999984px; height:231.3333102px;}.item_3 img{height:231.3333102px}
.item_4,.item_4 img{width:159.999984px; height:231.3333102px;}
.item_5{width:159.999984px; height:231.3333102px;}.item_5 img{width:239.9999976px; height:231.3333102px;margin-left:-40px;}
}
