@charset "utf-8";
/* CSS Document */

body{background-color:#000; height:100%; font-size:12px; color:#212121; }

.sumaart{display:none;}
#header,#warp,#footer,#main_nav,#warp2{width:1200px; margin:0px auto;}
#banner{height:480px;}
#header{ height:246px; background:url(../images/top_bg.jpg) no-repeat center; position:relative;}
#main_nav{background:url(../images/nav_bg.png);
position:absolute; bottom:0px; text-align:center;}
#main_nav ul{display:block; padding:4px;float:left;}
#main_nav li{display:inline-block;*display:inline; zoom:1; height:40px; line-height:40px;  padding:0px 20px; position:relative; }

#main_nav li a{ height:40px; line-height:40px;font-size:14px;}
#main_nav li a:hover{ color:#FC9;}
#main_nav li .menu{width:100%; position:absolute; top:40px; left:0px; z-index:10000;background:url(../images/nav_bg.png); padding-top:20px; display:none;}
#main_nav li .menu a{display:block; text-align:center; line-height:24px;}

#lange{position:absolute; top:10px; right:10px; line-height:20px;}
#logo{padding-top:50px; margin:0px auto; width:320px;}
#logo img{ width:100%; height:auto;}

#warp{ overflow:hidden;}
#warp .gridded{ float:left; }
#footer{background-color:#716f70; border-bottom:solid 15px #000000;}

#footer li{width:20%; padding:40px; float:left; position:relative;}
#footer li .title{border-bottom:#999 solid 1px; line-height:30px; font-size:16px; text-align:center;}
#footer li .menu a{display:block; text-align:center; line-height:24px;}
#footer li .menu a:hover{text-decoration:underline;}
li.thumbitem {
	position:relative;
	float:left;
	top:0;
	left:0;
	overflow:hidden;
	line-height:0;
}
.entry-title{position:absolute;width:100%;text-align:center;top:150px;}
.entry-title h2{font-size:30px; line-height:50px; font-family:'SimSun', '宋体', Arial; font-weight:bold; text-shadow:#222 0 1px 0;}
.entry-title p{font-size:14px; line-height:24px; display:block; width:90%;margin:20px auto 0 auto;}


@media screen and (max-width: 1200px) {
	#header,#warp,#footer,#main_nav,#banner,#warp2{width:960px; margin:0px auto;}

}

@media screen and (max-width: 960px) {
	#header,#warp,#footer,#main_nav,#banner,#warp2{width:720px; margin:0px auto;}
	#main_nav ul{ width:500px; margin:0 auto;}
	#main_nav li{padding:0 30px;}
	#footer li{width:33.3333%; padding:20px;}
	#logo{padding-top:35px;}

}

@media screen and (max-width: 720px) {
	#logo{width:200px; padding-top:50px;}
	#header,#warp,#footer,#main_nav,#banner,#warp2{width:360px; margin:0px auto;}#main_nav ul{ width:360px; margin:0 auto;}#main_nav li{padding:0 10px;}
	#footer li{width:50%; padding:10px;}
	.entry-title h2{font-size:24px; }

}

@media screen and (max-width: 320px) {
	#logo{width:150px; padding-top:70px;}
	#header,#warp,#footer,#main_nav,#banner,#warp2{width:320px; margin:0px auto;}#main_nav ul{ width:320px; margin:0 auto;}#main_nav li{padding:0 5px;}
	#footer li{width:50%; padding:10px;}

}
